# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# VirtualEnv
venv

# Back-end - Dependencies
backend/__pycache__
shopping/__pycache__
shopping/migrations/__pycache__

# Front-end - Dependencies
frontend/node_modules